body {
  background: #6eb7de;
  font-family: Arial, sans-serif;

}

.make
{
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;

}

.order-card {
  width: 320px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.order-card h3 {
  margin-bottom: 12px;
}

.product-img {
  width: 100%;
  height: 150px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty button {
  border: none;
  background: #eee;
  padding: 4px 8px;
  cursor: pointer;
}
.discount-box
{
 display: flex;
 align-items: center;
 gap: 40px; /* input&button gap */
}

.box
{
    width: 350px;
    height: 20px;
    border: 10px solid rgb(221, 216, 216);
    background-color: rgb(221, 216, 216);
    border-radius: 2px;
  font-family: Arial, sans-serif;
}

.order-card {
  width: 320px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.order-card h3 {
  margin-bottom: 12px;
}

.product-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty button {
  border: none;
  background: #eee;
  padding: 4px 8px;
  cursor: pointer;
}

.price {
  font-weight: bold;
  margin: 10px 0;

}

.bill p, .bill h4 {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.price {
  font-weight: bold;
  margin: 20px 0;
  margin-top: 0px;
}

.bill p, .bill h4 {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}



.hello
{
  color: rgb(91, 88, 88);
}

.discount-box button
{
  padding: 10px 16px;
  width: 70px;
  border-radius: 6px;
  border: 1px solid #3aaed8;
  background: transparent;
  color: #3aaed8;
  cursor: pointer;

}

.light
{
  color: rgb(87, 86, 86);
}
.mild{
 color: rgb(169, 163, 163);
}